<!--BASE HTML TEMPLATE, HERE INCLUDES HEADER BAR-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoolNote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <style>
        body {background-color: lemonchiffon;}
        ul {list-style-type: none; padding: 0; margin: 0;}
        .textfield {width: 60%;}
        .navtext {color: lemonchiffon;}
        .navtext:hover {color: lemonchiffon;}
        .loggedintext {color: #eeeeee;}
        .loggedintext:hover {color: #eeeeee;}
        .navspace {padding-left: 10%; padding-right: 10%;}
        .tabspace {margin-right: 20px;}
        .navbarspace {margin-bottom: 30px;}
    </style>
</head>
    <body>
        <!--TOP HEADER BAR, LOGGED IN AND NOT LOGGED IN VERSIONS-->
        <div class="navbarspace">

            {% if user.is_authenticated %}

            <ul class="nav navspace" style="background-color: steelblue;">
                <li class="nav-item">
                    <a class="nav-link navtext tabspace" href="{% url 'home' %}">
                        <strong>COOLNOTE</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navtext" href="{% url 'create_note' %}">Create Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navtext" href="{% url 'current_note' %}">Current Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navtext" href="{% url 'completed_note' %}">Completed Items</a>
                </li>
                <li class="nav-item">
                    <span style="margin: 140px;"></span>
                </li>
                <li class="nav-item tabspace">
                    <span class="nav-link loggedintext" href="#" tabindex="-1" aria-disabled="true">
                        Logged in as {{ user.username }}
                    </span>
                </li>
                <li class="nav-item">
                    <form method="POST" action="{% url 'logout_user' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link navtext">
                            Log Out
                        </button>
                    </form>
                </li>
            </ul>

            {% else %}

            <ul class="nav navspace" style="background-color: steelblue;">
                <li class="nav-item">
                    <a class="nav-link navtext tabspace" href="{% url 'home' %}">
                        <strong>COOLNOTE</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navtext" href="{% url 'login_user' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navtext" href="{% url 'signup_user' %}">
                        Sign Up
                    </a>
                </li>
            </ul>

            {% endif %}

        </div>

        <div class="container">

            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>
