<!--A LIST OF ITEMS MARKED AS COMPLETED-->

{% extends 'base.html' %}
{% block content %}

<h1>Completed Items</h1>
<br>

{% for note in notes %}
<ul>
    <li>
        <!--OPENING DIV TAG-->
        {% if note.important %}<div class="alert alert-success" role="alert">
        {% else %}<div class="alert alert-light" role="alert">{% endif %}
            <!--TITLE-->
            <strong><a href="{% url 'view_note' note.id %}">{{ note.title }}</a></strong>
            <!--MEMO-->
            {% if note.memo %}<br>
            {{ note.memo }}<br>{% endif %}
            <strong>Date completed:</strong> {{ note.datecompleted|date:'M j Y H:i' }}
        </div>
    </li>
</ul>

{% endfor %}
{% endblock %}
